{
    "extends": ["standard", "standard-react", "plugin:prettier/recommended", "plugin:flowtype/recommended"],
    "parser": "babel-eslint",
    "plugins": ["flowtype"],
    "settings": {
        "flowtype": {
            "onlyFilesWithAnnotation": "false"
        }
    },
    "rules": {
        "no-console": "error",
        "no-debugger": "error",
        "no-underscore-dangle": "off",
        "no-useless-return": "off",
        "react/jsx-indent": "off",
        "react/jsx-indent-props": "off"
    },
    "globals": {
        "fetch": false,
        "it": false,
        "WebSocket": false
    }
}