@import '../index.scss';

.text {
    padding: 1rem;
    align-self: center;
    display: inline-flex;
    flex-direction: column;
    font-size: $font-size-xs;
}

.link {
    @include borderGroup;
    width: 100%;
    background-color: $white;
    display: inline-flex;
    color: initial;
    text-decoration: none;

    img {
        border: 1px solid $gray-400;
    }

}

.link:hover {
    color: initial;
    text-decoration: none;
}

.title {
    margin: 0 0 $spacing-2;
    &:first-child {
        font-size: $font-size-base;
    }
}