@import '../index.scss';

@keyframes sizeIn {
    0% {margin: 0 auto}
    100% {margin: 20% auto}
}

.modal {
    @extend .container;
    @include borderGroup;
    animation: sizeIn 500ms ease;
    margin: 20% auto;
    padding: $spacer;
    background: white;
    text-align: center;

    p {
        margin: 0;
    }
}

.buttons {
    @extend .form-group;
    margin: 0;

    button {
        margin: $spacing-2 auto 0;
        display: block;

        &:first-child {
            @include desktop {
                margin-right: $spacing-2;
            }
        }

        @include desktop {
            display: inline;
        }
    }
}