@import '../index.scss';

.container {
    @include topLevel;

    button {
        @extend .mt-2;
    }
}


.suggestLink {
    color: $gray-900;
    text-decoration: none;

    &:hover {
        color: $gray-900;

    }
}

.list {
    @include borderGroup;
    @include desktop {
        width: 50%;
    }


    p {
        font-size: $font-size-lg;
    }

    button {
        display: block;
    }
}

.invite {
    @extend .form-group;
    @extend .mt-2;

    input {
        @extend .form-control;
        @extend .w-50;
    }

    button {
        display: block;
    }
}

.book {
    @include borderGroup;
    background-color: $gray-200;

    button {
        @extend .mt-2;
        display: block;
    }
}

.activeBook {
    @extend .list;
    button {
        @extend .mt-2;
    }
}

.voting {
    > :not(:last-child) {
        @extend .mr-2;
    }
}