@import '../index.scss';

.container {
    @include topLevel;

    button {
        margin: $spacing-2 0 0;
    }
}


.suggestLink {
    color: $gray-900;
    display: block;
    text-decoration: none;
    margin: $spacing-2 0;

    &:hover {
        color: $gray-900;

    }
}

.list {
    @include borderGroup;
    @include desktop {
        width: 50%;
    }


    p {
        font-size: $font-size-lg;
    }

    button {
        display: block;
    }
}

.invite {
    @extend .form-group;
    margin: $spacing-2 0 0;

    input {
        @extend .form-control;
        width: 50%;
    }

    button {
        display: block;
    }
}

.book {
    @include borderGroup;
    background-color: $gray-200;

    button {
        margin: $spacing-2 0 0;
        display: block;
    }
}

.activeBook {
    @extend .list;
    button {
        margin: $spacing-2 0 0;
    }
}

.voting {
    > :not(:last-child) {
        margin-right: $spacing-2;
    }
}