@import '../index.scss';

.container {
    @include topLevel;
    width: 75%;

    button {
        margin-top: $spacing-2;
        display: block;
    }
}

.formGroup {
    @include borderGroup;
    @extend .form-group;

    input {
        @include desktop {
            width: 50%;
        }
    }

    p {
        font-size: $font-size-lg;
    }
}