@import '../index.scss';

.container {
    @include topLevel;
    @extend .w-75;

    button {
        @extend .mt-2;
    }
}

.formGroup {
    @include borderGroup;
    @extend .form-group;

    input {
        @include desktop {
            width: 50%;
        }
    }

    p {
        font-size: $font-size-lg;
    }
}