@import '../index.scss';

.container {
    padding: 0;
    
    [data-role=#{$invited}] {
        color: $gray-400;
    }

    span {
        margin-right: $spacing-1;
        &:not(:first-child) {
            font-size: $font-size-sm;
        }
    }
}