@import '../index.scss';

.container {
    @include topLevel;
    width: 75%;
}

.history {
    @include borderGroup;
}

.messageEntry {
    @include borderGroup;
    @extend .form-group;
    margin-top: $spacing-2;

    button {
        margin-top: $spacing-2;
        display: block;


    }
}

.message {
    margin-bottom: $spacing-2;
}