@import '../index.scss';

.container {
    @include topLevel;
}

.searchForm {
    @extend .form-group;
    @extend .mt-3;

    input {
        @extend .w-50;
    }
}

.searchResult {
    @include borderGroup;
    display: block;
    background-color: $gray-200;

    @include desktop {
        width: 50%;
    }

    button {
        @extend .mt-2;
        display: block;
    }
}