@import '../index.scss';

.container {
    @include topLevel;
}

.searchForm {
    @extend .form-group;
    margin-top: 1rem;

    input {
        width: 50%;
    }
}

@keyframes slideRight {
    0% {opacity: 0; margin-left: calc(-3 * #{$spacer})}
    20% {opacity: 1; margin-left: calc(-2 * #{$spacer})}
    100% {margin-left: unset}
}

.searchResult {
    @include borderGroup;
    animation: slideRight 500ms ease;
    display: block;
    background-color: $gray-200;

    @include desktop {
        width: 50%;
    }

    button {
        margin-top: $spacing-2;
        display: block;
    }
}