@import './node_modules/bootstrap/scss/bootstrap.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  cursor: pointer;
}

button {
  @extend .btn;
  @extend .btn-primary;
  cursor: pointer;
}

@mixin borderGroup {
    @extend .mt-2;
    @extend .p-2;
    border: 1px solid $gray-400;
    border-radius: 3px;
    @content;
}

$admin: 'admin';
$invited: 'invited';

@mixin desktop {
  @include media-breakpoint-up(md) {
    @content
  }
}

$font-size-xs: ($font-size-base * .75);

@mixin topLevel {
    @extend .container;
    @extend .mt-3;
    @extend .mb-3;
    @content;
}